@import utils.EmailAddress
@(report: Report, files: List[ReportFile])

@import utils.Constants.ReportStatus._

@views.html.mails.layout("Votre signalement") {

    <p>
        Bonjour @report.firstName @report.lastName,
    </p>
    @report.status match {
        case EMPLOYEE_REPORT => {
            <p>
                <b>Votre signalement a bien été enregistré dans SignalConso.</b>
            </p>
            <p>
                Vous avez indiqué être employé de l'entreprise que vous avez signalée.
            </p>
            <p>
                Afin de garantir la sécurité de votre emploi, votre signalement ne sera pas envoyé à l'entreprise.
            </p>
            <p>
                <b>Par contre les enquêteurs de la répression des fraudes seront informés de votre signalement.</b>
            </p>
        }
        case _ if report.companyId.isDefined => {
            <p>
                <b>Votre signalement a bien été enregistré dans SignalConso.</b>
            </p>
            <p>
                Que va-t-il se passer ?
            </p>
            <p>
                <b>L'entreprise va être informée de votre signalement pour qu'elle puisse corriger le problème.</b>
            </p>

            @if(report.status == TRAITEMENT_EN_COURS) {

                <p>
                    Dès que l'entreprise aura lu le signalement, vous recevrez un email.
                    En moyenne l'entreprise met 8 jours pour lire le signalement.
                </p>
            } else {
                <p>
                    <b>Attention : En raison des circonstances exceptionnelles liées au COVID-19, le délai de transmission des signalements aux entreprises est fortement rallongé.</b>
                    <br/>Les entreprises ont un délai de 6 semaines pour créer leur compte et consulter votre signalement.
                </p>
                <p>Dès que l’entreprise aura lu le signalement, vous recevrez un email.</p>
            }

            <p>
                Si, malgré nos relances, l'entreprise ne souhaite pas consulter votre signalement, vous serez informé de son refus.
            </p>

            <p>
                Que l'entreprise lise ou non votre signalement,
                <b>les enquêteurs de la répression des fraudes seront également informés de votre signalement.</b>
            </p>
        }
        case _ => {
            <p>
                <b>Votre signalement a bien été enregistré dans SignalConso.</b>
            </p>
            <p>
                Comme précisé sur notre site, votre signalement ne sera pas transmis à l'entreprise qui gère le site internet,
                mais les enquêteurs de la répression des fraudes en seront informés.
            </p>
        }
    }

    <p>À bientôt sur SignalConso !</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    <div style="padding-bottom: 0.5em">
        <div style="font-weight: bold;
            text-align: center;
            border-top: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            padding: 10px 0;
            margin: 10px">Détail du signalement</div>

        <b>Problème</b>
        <br/>
        @report.category
        <br />
        @report.subcategories.map {subcategory =>
            @subcategory
            <br />
        }

        <br />
        <b>Description</b>
        <br/>
        @report.details.map { detailInputValue =>
            @Html(detailInputValue.label) @Html(detailInputValue.value)
            <br/>
        }

        @if(files.length > 0) {
            <br/>
            Pièces jointes :
            <ul>
            @files.map { file =>
                <li>
                    @file.filename
                </li>
            }
            </ul>
        } else {
            <br />
        }

        <b>Entreprise</b>
        <br/>
        @if(report.companyAddress.isDefined) {
        @report.companyAddress.get
        <br/>
        }
        @if(report.websiteURL.isDefined) {
        Site internet : @report.shortURL.get
        <br/>
        }

        <br />
        <b>Consommateur</b>
        <br/>
        Nom : @report.lastName
        <br />
        Prénom : @report.firstName
        <br />
        Email : @report.email
        <br/>
        @if(!report.employeeConsumer) {
            Accord pour contact : @if(report.contactAgreement) {oui} else {non}
            <br/>
        }
    </div>

    <div style="padding-bottom: 0.5em">
        <div style="font-weight: bold;
            text-align: center;
            border-top: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            padding: 10px 0;
            margin: 10px">Comprendre SignalConso</div>
        <img src="cid:schemaSignalConso-Etape2" style="max-width: 100%"/>
    </div>
}