@import models.report.Report
@import utils.FrontRoute
@import models.report.Report
@import models.company.Company
@(report: Report,maybeCompany: Option[Company])(implicit frontRoute: FrontRoute, messageProvider: MessagesProvider)


@views.html.mails.layout(Messages("ReportClosedByNoReadingEmail.entrepriseNoConsultation")) {
    <p>
        @Messages("ReportClosedByNoReadingEmail.bonjourMessage", report.firstName, report.lastName)
    </p>

    <p>
        @Html(Messages("ReportClosedByNoReadingEmail.signalementMessage", report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy"))))
    </p>
    @report.companySiret.map{ siret =>
        <p style="text-align: center;">
            @Html(Messages("ReportClosedByNoReadingEmail.siretLabel", siret))
        </p>
    }
    <p style="text-align: center;">
    @views.html.fragments.proAddressForConsumer(maybeCompany)
    </p>

    <p>
    @Html(Messages("ReportClosedByNoReadingEmail.malgreRelancesMessage"))
    </p>

    @if(!report.isContractualDispute()) {
        <p>
            @Html(Messages("ReportClosedByNoReadingEmail.enqueteurReceivedMessage"))
            <br/>
            @Messages("ReportClosedByNoReadingEmail.enqueteurDecideMessage")
        </p>

        <p>
        @Messages("ReportClosedByNoReadingEmail.nouveauSignalementMessage")
        </p>
    } else {
        <p>
        @Messages("ReportClosedByNoReadingEmail.contractualDisputeMessage")
        </p>
        <p style="text-align: center; padding: 20px">
            <a href="@frontRoute.website.litige" class="btn">
            @Messages("ReportClosedByNoReadingEmail.continuerDemarches")
            </a>
        </p>
        <p>
            <i>@Messages("ReportClosedByNoReadingEmail.reparationLitigeMessage")</i>
        </p>
    }

    <p>@Messages("ReportClosedByNoReadingEmail.aBientotMessage")</p>

    <p>
        <i>@Messages("ReportClosedByNoReadingEmail.equipeSignalConso")</i>
    </p>

    @if(report.needWorkflowAttachment()) {
        <div style="padding-bottom: 0.5em">
            <div style="font-weight: bold;
                text-align: center;
                border-top: 1px solid #D3D3D3;
                border-bottom: 1px solid #D3D3D3;
                padding: 10px 0;
                margin: 10px">
            @Messages("ReportClosedByNoReadingEmail.comprendreSignalConso")
            </div>
            <img src="cid:schemaSignalConso-Etape3" style="max-width: 100%"/>
        </div>
    }
}
