@import models.report.Report
@import utils.FrontRoute
@import models.report.Report
@import models.company.Company
@(report: Report, company: Option[Company])(implicit frontRoute: FrontRoute, messageProvider: MessagesProvider)

@views.html.mails.layout(Messages("ReportNotAnswered.title")) {
    <p>
        @Messages("ReportNotAnswered.greeting", report.firstName, report.lastName)
    </p>

    <p>
        @Html(Messages("ReportNotAnswered.reportDate", report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy"))))
    </p>
    @if(report.companySiret.isDefined) {
        <p style="text-align: center;">
        @Html(Messages("ReportNotAnswered.companySiret", report.companySiret.get))
        </p>
    }
    <p style="text-align: center;">
        <b>
            @views.html.fragments.proAddressForConsumer(company)
        </b>
    </p>
    <p>
        @Messages("ReportNotAnswered.noResponse")
    </p>

    @if(!report.isContractualDispute()) {
        <p>
            <b>
            @Messages("ReportNotAnswered.enforcementConfirmation")
            </b>
        </p>

        <p>
            @Messages("ReportNotAnswered.enforcementAdvice")
        </p>
    } else {
        <p>
            @Messages("ReportNotAnswered.disputeAdvice")
        </p>
        <p style="text-align: center;
            padding: 20px">
            <a href="@frontRoute.website.litige(report)" class="btn">
                @Messages("ReportNotAnswered.continueAction")
            </a>
        </p>
        <p>
            <i>@Messages("ReportNotAnswered.ignoreMessage")</i>
        </p>
    }

    <p>@Messages("ReportNotAnswered.goodbye")</p>

    <p>
        <i>@Messages("ReportNotAnswered.signalConsoTeam")</i>
    </p>

    @if(report.needWorkflowAttachment()) {
        <div style="padding-bottom: 0.5em">
            <div style="font-weight: bold;
                text-align: center;
                border-top: 1px solid #D3D3D3;
                border-bottom: 1px solid #D3D3D3;
                padding: 10px 0;
                margin: 10px">
            @Messages("ReportNotAnswered.understandSignalConso")
            </div>
            <img src="cid:@Messages("attachment.report.step4")" style="max-width: 100%"/>
        </div>
    }
}