@import models.report.ExistingReportResponse
@import models.report.Report
@import java.net.URI
@import models.report.review.ResponseEvaluation
@import models.company.Company
@(report: Report, maybeCompany: Option[Company], reportResponse: ExistingReportResponse, isResolved: Boolean, reviewUrl: (ResponseEvaluation) => URI)(implicit messageProvider: MessagesProvider)

@views.html.mails.layout(Messages("ConsumerReportProEngagementEmail.title")) {
    <p>
    @Messages("ConsumerReportProEngagementEmail.greeting", report.firstName, report.lastName)
    </p>

    <p>
    @Messages("ConsumerReportProEngagementEmail.reportDescription", report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")))
    </p>
    @if(report.companySiret.isDefined) {
        <p style="text-align: center;">
        @Html(Messages("ConsumerReportAckProEmail.companySiret", report.companySiret.get))
        </p>
    }
    <p style="text-align: center;">
    @views.html.fragments.proAddressForConsumer(maybeCompany)
    </p>

    <p>@Messages("ConsumerReportProEngagementEmail.responseContent")</p>

    <p>
        <i>"@reportResponse.consumerDetails"</i>
    </p>

    <p>
        @Messages("ConsumerReportProEngagementEmail.engagementReminderPeriodAgo",models.engagement.Engagement.EngagementReminderPeriod)
        <br />
        <b>@ExistingReportResponse.translateResponseDetails(reportResponse).getOrElse("")</b>
    </p>

    @if(isResolved) {
        <p>@Messages("ConsumerReportProEngagementEmail.proDidHonoured")</p>
    } else {
        <p>@Messages("ConsumerReportProEngagementEmail.proMayHaveHonoured")</p>
    }

    <p>
        <b>@Messages("ConsumerReportProEngagementEmail.satisfactionQuestion")</b> @Messages("ConsumerReportProEngagementEmail.clickYourChoice")
    <div style="display: flex; margin: 50px ">
        <a href="@reviewUrl(ResponseEvaluation.Positive)" target="_blank" style="padding-right:20px">
            <img src='cid:happy' alt="positif" width="75" height="75">
            <p style="text-align:center;">@Messages("ConsumerReportProEngagementEmail.positive")</p>
        </a>
        <a href="@reviewUrl(ResponseEvaluation.Neutral)" target="_blank" style="padding-right:20px; padding-left:20px">
            <img src='cid:neutral' alt="neutre" width="75" height="75"/>
            <p style="text-align:center;">@Messages("ConsumerReportProEngagementEmail.neutral")</p>
        </a>
        <a href="@reviewUrl(ResponseEvaluation.Negative)" target="_blank" style="padding-left:20px">
            <img src='cid:sad' alt="négatif" width="75" height="75" />
            <p style="text-align:center;">@Messages("ConsumerReportProEngagementEmail.negative")</p>
        </a>
    </div>
    </p>

    <p>
    @Html(Messages("ConsumerReportProEngagementEmail.satisfactionRequest"))
    </p>
    <p>
    @Html(Messages("ConsumerReportAckProEmail.signalementNonAccepteHelp"))
    </p>
    <p>
    @Html(Messages("ConsumerReportProEngagementEmail.serviceImprovement"))
    </p>
    <p>@Messages("ConsumerReportProEngagementEmail.contributionThanks")</p>
    <p>@Messages("ConsumerReportProEngagementEmail.spreadTheWord")</p>

    <p>
        <i>@Messages("ConsumerReportProEngagementEmail.teamSignature")</i>
    </p>

    <div style="padding-bottom: 0.5em">
        <div style="font-weight: bold;
            text-align: center;
            border-top: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            padding: 10px 0;
            margin: 10px">
        @Messages("ConsumerReportProEngagementEmail.signalConsoExplanationHeader")
        </div>
        <img src="cid:@Messages("attachment.report.step4")" style="max-width: 100%"/>
    </div>
}