@(report: Report)

@views.html.mails.layout("L'entreprise a pris connaissance de votre signalement") {
    <p>
        Bonjour @report.firstName @report.lastName,
    </p>

    <p>
        Vous avez fait un signalement le @report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")) concernant l’établissement (SIRET : @report.companySiret) :
    </p>

    <p style="text-align: center;">
    @views.html.fragments.address(report.companyAddress)
    </p>

    <p>
        Le commerçant a pris connaissance de votre signalement aujourd’hui. Si le commerçant nous indique avoir corrigé le problème, nous vous tiendrons au courant par email.
    </p>

    <p>A bientôt sur SignalConso !</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    <p style="text-align: center; margin: 30px">
        <a href="https://monavis.numerique.gouv.fr/Demarches/2071?&view-mode=formulaire-avis&nd_mode=en-ligne-enti%C3%A8rement&nd_source=button&key=5a58254dab900906fe4924e37c1c5bba">
            <img src="https://monavis.numerique.gouv.fr/monavis-static/bouton-bleu.png" alt="Je donne mon avis" title="Je donne mon avis sur cette démarche" />
        </a>
    </p>
}