@(report: Report, event: Event)

@import utils.Constants.ReportStatus._

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Votre réponse au signalement</title>
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 650px; width: 100%; padding: 1em; font-size: 16px">
            <div style="text-align: center; margin: 30px auto 50px">
                <img src="cid:logo" style="max-width: 400px; vertical-align: middle"/>
                <br>
            </div>
            <p>
                Bonjour @report.firstName @report.lastName,
            </p>

            <p>
                Vous avez fait un signalement le @report.creationDate.get.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")) concernant l’établissement (SIRET : @report.companySiret) :
            </p>

            <p style="text-align: center;">
                @views.html.fragments.address(report.companyAddress)
            </p>

            @event.resultAction match {
                case Some(true) => {

                    <p>Le professionnel a répondu à votre signalement !</p>

                    <p>Voici sa réponse :</p>

                    <p>
                        "@event.detail"
                    </p>

                    <p>
                        Nous vous remercions d'avoir fait un signalement sur SignalConso.
                    </p>

                    <p>
                        Si vous retournez dans cet établissement et vous constatez que le problème n’a pas été corrigé, faites
                        un nouveau signalement.
                    </p>

                }
                case _ => {

                    <p>Ce signalement n’a pas été considéré comme légitime par le professionnel.</p>

                    <p>Voici sa réponse :</p>

                    <p>
                        "@event.detail"
                    </p>

                    <p>
                        Néanmoins, nous vous précisons que les enquêteurs se réservent le droit d’effectuer un contrôle
                        de l’établissement concerné.
                    </p>

                    <p>
                        Nous vous remercions d'avoir traité le signalement !
                    </p>

                }
            }

            <p>À bientôt sur SignalConso !</p>

            <p>
                <i>L'équipe SignalConso</i>
            </p>

            <p style="text-align: center; margin: 30px">
                <a href="https://monavis.numerique.gouv.fr/Demarches/2071?&view-mode=formulaire-avis&nd_mode=en-ligne-enti%C3%A8rement&nd_source=button&key=5a58254dab900906fe4924e37c1c5bba">
                    <img src="https://monavis.numerique.gouv.fr/monavis-static/bouton-bleu.png" alt="Je donne mon avis" title="Je donne mon avis sur cette démarche" />
                </a>
            </p>

            <br />

        </div>
    </body>
</html>