@import models.report.Report
@import java.net.URI
@import models.report.Report
@import models.report.ExistingReportResponse
@import models.report.review.ResponseEvaluation
@import models.company.Company
@import models.report.ReportResponseType

@import utils.FrontRoute
@(report: Report,maybeCompany: Option[Company], reportResponse: ExistingReportResponse, reviewUrl: (ResponseEvaluation) => URI)(implicit messageProvider: MessagesProvider,frontRoute: FrontRoute)

@views.html.mails.layout(Messages("ConsumerReportAckProEmail.title")) {
    <p>
    @Messages("ConsumerReportAckProEmail.greeting", report.firstName, report.lastName)
    </p>

    <p>
    @Messages("ConsumerReportAckProEmail.reportDescription", report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")))
    </p>
    @if(report.companySiret.isDefined) {
        <p style="text-align: center;">
        @Html(Messages("ConsumerReportAckProEmail.companySiret", report.companySiret.get))
        </p>
    }
    <p style="text-align: center;">
    @views.html.fragments.proAddressForConsumer(maybeCompany)
    </p>

    @if(report.reopenDate.isDefined) {
        <p >
            @Messages("ConsumerReportAckProEmail.responseHeaderOnReopen")
        </p>
    } else {
        <p>
            <b>@Messages("ConsumerReportAckProEmail.responseHeader")</b>
        </p>
    }

    @if(reportResponse.responseType == ReportResponseType.REJECTED) {
        <p>
            @Messages("ConsumerReportAckProEmail.signalementInfonde")
            <br />
            <strong>@ExistingReportResponse.translateResponseDetails(reportResponse).getOrElse("")</strong>
            <br />
            <span>@Html(Messages("ConsumerReportAckProEmail.signalementNonAccepteHelp"))</span>
        </p>
        <p style="text-align: center; padding: 20px">
            <a href="@frontRoute.website.litige(report)" class="btn">
            @Messages("ReportClosedByNoReadingEmail.continuerDemarches")
            </a>
        </p>

    }

    @if(reportResponse.responseType == ReportResponseType.NOT_CONCERNED) {
        <p>
            @Messages("ConsumerReportAckProEmail.signalementNonConcerne")
            <br />
            <strong>@ExistingReportResponse.translateResponseDetails(reportResponse).getOrElse("")</strong>
        </p>
        <p>@Messages("ConsumerReportAckProEmail.youCanReattribute")</p>
        <div style="text-align: center">
            <a href="@frontRoute.website.reattribute(report)" class="btn">@Messages("ConsumerReportAckProEmail.reattribute")</a>
        </div>
        <p style="margin-bottom: 32px">@Messages("ConsumerReportAckProEmail.maxDelayToReattribute")</p>
        <p>@Messages("ConsumerReportAckProEmail.ifYouAreSure")</p>
        <p style="text-align: center; padding: 20px">
            <a href="@frontRoute.website.litige(report)" class="btn">
            @Messages("ReportClosedByNoReadingEmail.continuerDemarches")
            </a>
        </p>
    }

    <p>@Messages("ConsumerReportAckProEmail.responseContent")</p>

    <p>
        <i>"@reportResponse.consumerDetails"</i>
    </p>

  @if(reportResponse.responseType == ReportResponseType.ACCEPTED) {
      <p>
          @Messages("ConsumerReportAckProEmail.signalementAccepte")
          <br />
          <strong>@ExistingReportResponse.translateResponseDetails(reportResponse).getOrElse("")</strong>
      </p>
      <p>@Messages("ConsumerReportAckProEmail.engagementReminderEmailPeriodLater",models.engagement.Engagement.EngagementReminderPeriod)</p>
  }

    <p>
        <b>@Messages("ConsumerReportAckProEmail.satisfactionQuestion")</b> @Messages("ConsumerReportAckProEmail.clickYourChoice")
    <div style="display: flex; margin: 50px ">
        <a href="@reviewUrl(ResponseEvaluation.Positive)" target="_blank" style="padding-right:20px">
            <img src='cid:happy' alt="positif" width="75" height="75">
            <p style="text-align:center;">@Messages("ConsumerReportAckProEmail.positive")</p>
        </a>
        <a href="@reviewUrl(ResponseEvaluation.Neutral)" target="_blank" style="padding-right:20px; padding-left:20px">
            <img src='cid:neutral' alt="neutre" width="75" height="75"/>
            <p style="text-align:center;">@Messages("ConsumerReportAckProEmail.neutral")</p>
        </a>
        <a href="@reviewUrl(ResponseEvaluation.Negative)" target="_blank" style="padding-left:20px">
            <img src='cid:sad' alt="négatif" width="75" height="75" />
            <p style="text-align:center;">@Messages("ConsumerReportAckProEmail.negative")</p>
        </a>
    </div>
    </p>

    <p>
        <b>@Messages("ConsumerReportAckProEmail.situationImprovement")</b>
    </p>

    <p>
        <b>@Messages("ConsumerReportAckProEmail.waitingForImprovement")</b>
        <br/>
        @Messages("ConsumerReportAckProEmail.newReportLink")
    </p>

    <p>
        @Html(Messages("ConsumerReportAckProEmail.satisfactionRequest"))
    </p>
    <p>
        @Html(Messages("ConsumerReportAckProEmail.serviceImprovement"))
    </p>
    <p>@Messages("ConsumerReportAckProEmail.contributionThanks")</p>
    <p>@Messages("ConsumerReportAckProEmail.spreadTheWord")</p>

    <p>
        <i>@Messages("ConsumerReportAckProEmail.teamSignature")</i>
    </p>

    <div style="padding-bottom: 0.5em">
        <div style="font-weight: bold;
            text-align: center;
            border-top: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            padding: 10px 0;
            margin: 10px">
        @Messages("ConsumerReportAckProEmail.signalConsoExplanationHeader")
        </div>
        <img src="cid:@Messages("attachment.report.step4")" style="max-width: 100%"/>
    </div>
}
