@import utils.EmailAddress
@import utils.Constants.ReportStatus._
@import java.net.URI
@(report: Report, files: List[ReportFile])(implicit websiteUrl: URI)


@views.html.mails.layout("Votre signalement") {

    <p>
        Bonjour @report.firstName @report.lastName,
    </p>
    @report.status match {
        case EMPLOYEE_REPORT => {
            <p>
                <b>Votre signalement a bien été enregistré dans SignalConso.</b>
            </p>
            <p>
                Vous avez indiqué être employé(e) de l'entreprise que vous avez signalée.
            </p>
            <p>
                Afin de garantir la sécurité de votre emploi, votre signalement ne sera pas envoyé à l'entreprise.
            </p>
            <p>
                <b>Par contre les enquêteurs de la répression des fraudes seront informés de votre signalement.</b>
            </p>
        }
        case _ if report.consumerActionsId.isDefined => {
            <p>
                Vous avez signalé un problème individuel (litige) avec l’entreprise @report.companyName sur SignalConso.
            </p>
            <p>
                Pour augmenter vos chances de trouver une solution ou obtenir réparation, vous pouvez dès aujourd’hui envoyer un recommandé au service client de l’entreprise, en y joignant les deux documents ci-joint :
            </p>
            <ul>
                <li>une lettre type à compléter</li>
                <li>votre signalement au format PDF</li>
            </ul>
            <p>
                Vous trouverez l'adresse du service client de l'entreprise dans votre contrat, sur son site internet ou dans les conditions générales de vente.
            </p>
            <p style="text-align: center; padding: 20px">
                <a href="@websiteUrl.resolve(s"/litige/${report.consumerActionsId.get}")" class="btn">
                    Découvrir mes démarches
                </a>
            </p>
        }
        case _ if report.companyId.isDefined => {
            <p>
                <b>Votre signalement a bien été enregistré dans SignalConso.</b>
            </p>
            <p>
                Que va-t-il se passer ?
            </p>
            <p>
                <b>L'entreprise va être informée de votre signalement pour qu'elle puisse corriger le problème.</b>
            </p>
            <p>
                Dès que l'entreprise aura lu le signalement, vous recevrez un email.
            </p>
            <p>
                <b>Attention : En raison des circonstances exceptionnelles liées au COVID-19, le délai de transmission des signalements aux entreprises
                    peut être fortement rallongé.</b>
                <br/>Les entreprises ont un délai de deux mois pour créer leur compte et consulter votre signalement.
            </p>
            <p>
                Si, malgré nos relances, l'entreprise ne souhaite pas consulter votre signalement, vous serez informé(e) de son refus.
            </p>
            <p>
                Que l'entreprise lise ou non votre signalement,
                <b>les enquêteurs de la répression des fraudes seront également informés de votre signalement.</b>
            </p>
        }
        case _ => {
            <p>
                <b>Votre signalement a bien été enregistré dans SignalConso.</b>
            </p>
            <p>
                Comme précisé sur notre site, votre signalement ne sera pas transmis à l'entreprise qui gère le site internet,
                sauf si cette dernière est française et identifiable par l'équipe de SignalConso.
            </p>
            <p>
                Dans tous les cas les enquêteurs de la répression des fraudes en seront informés.
            </p>
        }
    }

    <p>À bientôt sur SignalConso !</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    @if(!report.consumerActionsId.isDefined) {
        <div style="padding-bottom: 0.5em">
            <div style="font-weight: bold;
                text-align: center;
                border-top: 1px solid #D3D3D3;
                border-bottom: 1px solid #D3D3D3;
                padding: 10px 0;
                margin: 10px">Détail du signalement</div>

            <b>Problème</b>
            <br/>
            @report.category
            <br />
            @report.subcategories.map { subcategory =>
                @subcategory
                <br />
            }

            <br />
            <b>Description</b>
            <br/>
            @report.details.map { detailInputValue =>
                @Html(detailInputValue.label) @Html(detailInputValue.value)
                <br/>
            }

            @if(files.length > 0) {
                <br/>
                Pièces jointes :
                <ul>
                @files.map { file =>
                    <li>
                        @file.filename
                    </li>
                }
                </ul>
            } else {
                <br />
            }

            <b>Entreprise</b>
            <br/>
            @if(report.companyAddress.isDefined) {
                @report.companyAddress.get
                <br/>
            }
            @if(report.websiteURL.isDefined) {
                Site internet : @report.shortURL.get
                <br/>
            }

            <br />
            <b>Consommateur</b>
            <br/>
            Nom : @report.lastName
            <br />
            Prénom : @report.firstName
            <br />
            Email : @report.email
            <br/>
            @if(!report.employeeConsumer) {
                Accord pour contact : @if(report.contactAgreement) {oui} else {non}
                <br/>
            }
        </div>
    }

    @if(!report.employeeConsumer && !report.consumerActionsId.isDefined) {
        <div style="padding-bottom: 0.5em">
            <div style="font-weight: bold;
                text-align: center;
                border-top: 1px solid #D3D3D3;
                border-bottom: 1px solid #D3D3D3;
                padding: 10px 0;
                margin: 10px">Comprendre SignalConso</div>
            <img src="cid:schemaSignalConso-Etape2" style="max-width: 100%"/>
        </div>
    }
}
