@import models.report.Report

@import models.company.Company
@(report: Report, maybeCompany: Option[Company])(implicit messageProvider: MessagesProvider)

    @views.html.mails.layout(Messages("ConsumerReportTransmittedEmail.title")) {
        <p>
            @Messages("ConsumerReportTransmittedEmail.greeting", report.firstName, report.lastName)
        </p>

        <p>
            @Html(Messages("ConsumerReportTransmittedEmail.reportDate", report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy"))))
        </p>
        @if(report.companySiret.isDefined) {
            <p style="text-align: center;">
                @Html(Messages("ConsumerReportTransmittedEmail.siret", report.companySiret.get))
            </p>
        }
        <p style="text-align: center;">
            <b>
            @views.html.fragments.proAddressForConsumer(maybeCompany)
            </b>
        </p>

        <p>
        @Messages("ConsumerReportTransmittedEmail.companyAcknowledgement")
        </p>

        <p>
        @Messages("ConsumerReportTransmittedEmail.solutionEmail")
        </p>

        <p>
        @Messages("ConsumerReportTransmittedEmail.fraudReport")
        </p>

        <p>@Messages("ConsumerReportTransmittedEmail.goodbye")</p>

        <p>
            <i>@Messages("ConsumerReportTransmittedEmail.team")</i>
        </p>

        <div style="padding-bottom: 0.5em">
            <div style="font-weight: bold;
                text-align: center;
                border-top: 1px solid #D3D3D3;
                border-bottom: 1px solid #D3D3D3;
                padding: 10px 0;
                margin: 10px">@Messages("ConsumerReportTransmittedEmail.understandingSignalConso")</div>
            <img src="cid:@Messages("attachment.report.step3")" style="max-width: 100%"/>
        </div>
    }
