@import utils.EmailAddress
@import models.report.ReportStatus
@import utils.FrontRoute
@import utils.Country
@import models.report._
@import models.report.ReportTag
@import models.company.Company
@import services.AttachmentService
@import java.util.Locale
@(report: Report, maybeCompany: Option[Company], files: List[ReportFile] = Nil, isPDF: Boolean = false)(implicit frontRoute: FrontRoute, messageProvider: MessagesProvider)


@contentBlock() = {
    <p>
    @Messages("ReportAckEmail.hello", report.firstName, report.lastName)
    </p>
@report.status match {
    case ReportStatus.InformateurInterne => {
        <p>
            <b>@Messages("ReportAckEmail.reportSubmitted")</b>
        </p>
        <p>
        @Messages("ReportAckEmail.employeeOfReportedCompany")
        </p>
        <p>
        @Messages("ReportAckEmail.reportNotSentToCompany")
        </p>
        <p>
            <b>@Messages("ReportAckEmail.fraudInvestigatorsInformed")</b>
        </p>
    }
    case ReportStatus.NA if report.companyAddress.country.isDefined => {
        <p>
            <b>@Messages("ReportAckEmail.reportSubmitted")</b>
        </p>
        <p>
        @Messages("ReportAckEmail.foreignCompanyReported", report.companyAddress.country.get.name)
        </p>
        <p>
        @Messages("ReportAckEmail.reportNotTransmittedToCompany")
        </p>
        @report.companyAddress.country match {
            case Some(country) if Country.countries.filter(_.european).contains(country) => {
                <p>
                @Html(Messages("ReportAckEmail.submitToEuropeanConsumersCenter", "https://www.europe-consommateurs.eu/fr/une-question-une-reclamation"))
                </p>
            }
            case Some(country) if country == Country.Andorre => {
                <p>
                @Html(Messages("ReportAckEmail.submitToAndorraCommerceAndConsumption", "https://www.comerc.ad/reclamacions/?id=fr"))
                </p>
            }
            case Some(country) if Country.countries.filter(_.transfer).contains(country) => {
                <p>
                @Messages("ReportAckEmail.fraudInvestigatorsTransferReport")
                </p>
            }
            case _ => {
                <p>
                @Html(Messages("ReportAckEmail.submitToEconsumerGov", "https://www.econsumer.gov/fr"))
                </p>
            }
        }
        @views.html.fragments.chargeBack(report)
    }
    case ReportStatus.NA if report.tags.contains(ReportTag.ReponseConso) => {
        <p>
            <b>@Messages("ReportAckEmail.questionSubmitted")</b>
        </p>
        <p>
        @Messages("ReportAckEmail.respondentWillContactIfNeeded")
        </p>
    }
    case ReportStatus.NA => {
        <p>
            <b>@Messages("ReportAckEmail.reportSubmitted")</b>
        </p>
        <p>
        @Messages("ReportAckEmail.reportNotTransmittedToCompany")
        </p>
        <p>
        @Messages("ReportAckEmail.fraudInvestigatorsInformedAndMayContact")
        </p>
    }
    case _ if report.isContractualDispute() && report.companyId.isDefined => {
        <p>
            @Messages("ReportAckEmail.individualProblemReported")
            @report.companyName.map(name => Messages("ReportAckEmail.companyNameExist", name)).getOrElse(report.websiteURL.websiteURL.map(url => Messages("ReportAckEmail.websiteExist", url)).getOrElse(""))
            @Messages("ReportAckEmail.onSignalConso")
        </p>
        <p>
        @Messages("ReportAckEmail.individualActionsRecommended")
        </p>
        <p>
        @Messages("ReportAckEmail.pdfAttachmentUseful")
        </p>
        <p style="text-align: center;
            padding: 20px">
            <a href="@frontRoute.website.litige(report)" class="btn">
            @Messages("ReportAckEmail.startIndividualActions")
            </a>
        </p>
        @views.html.fragments.chargeBack(report)
    }
    case _ if report.companyId.isDefined => {
        <p>
            <b>@Messages("ReportAckEmail.reportSubmitted")</b>
        </p>
        <p>
        @Messages("ReportAckEmail.whatWillHappen")
        </p>
        <p>
            <b>@Messages("ReportAckEmail.companyInformedToCorrectIssue")</b>
        </p>
        <p>
        @Messages("ReportAckEmail.emailNotificationUponCompanyReadingReport")
        </p>
        <p>
        @Messages("ReportAckEmail.companiesHaveTwoMonthsToRegisterAndViewReport")
        </p>
        <p>
        @Messages("ReportAckEmail.reportSentToFraudInvestigators")
        </p>
        <p>
        @Html(Messages("ReportAckEmail.readOrNot"))
        </p>
    }
    case _ => {
        <p>
            <b>@Messages("ReportAckEmail.reportSubmitted")</b>
        </p>
        <p>
        @Messages("ReportAckEmail.reportNotTransmittedToCompanyExceptFrench")
        </p>
        <p>
        @Messages("ReportAckEmail.fraudInvestigatorsInformed")
        </p>
    }
}

@if(report.tags.contains(ReportTag.CompagnieAerienne)) {
    <p>
    @Html(Messages("ReportAckEmail.knowYourRightsForAirCompensation", "https://droits-passagers-aeriens.aviation-civile.gouv.fr/"))
    </p>
}

@if(report.tags.contains(ReportTag.ProduitDangereux)) {
    <p>
        <b>@Messages("ReportAckEmail.currentProductRecallCampaigns")</b>
    </p>
    <b>@Messages("ReportAckEmail.doNotConsumeProductsAndTakePhotos")</b>
    @Messages("ReportAckEmail.takePhotosBeforeDisposal")

    @Messages("ReportAckEmail.seekMedicalAdviceIfSymptoms")
}

    <p>@Messages("ReportAckEmail.goodbyeSignalConso")</p>

    <p>
        <i>@Messages("ReportAckEmail.signalConsoTeam")</i>
    </p>

@if(!report.isContractualDispute()) {
    <div style="padding-bottom: 0.5em">
        <div style="font-weight: bold;
            text-align: center;
            border-top: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            padding: 10px 0;
            margin: 10px">@Messages("ReportAckEmail.reportDetails")</div>

        <b>@Messages("ReportAckEmail.problem")</b>
        <br/>
        @ReportCategory.displayValue(report.category)
        <br />
        @report.subcategories.map { subcategory =>
            @subcategory
            <br />
        }

        <br />
        <b>@Messages("ReportAckEmail.description")</b>
        <br/>
        @report.details.map { detailInputValue =>
            @Html(detailInputValue.label) @Html(detailInputValue.value)
            <br/>
        }

        @if(files.length > 0) {
            <br/>
            @Messages("ReportAckEmail.attachments")
            <ul>
            @files.map { file =>
                <li>
                    @file.filename
                </li>
            }
            </ul>
        } else {
            <br />
        }

        <b>@Messages("ReportAckEmail.company")</b>
        <br/>
        @if(report.companyAddress.isDefined) {
            @views.html.fragments.proAddressForConsumer(maybeCompany)
            <br/>
        }
        @if(report.websiteURL.websiteURL.isDefined) {
            @Messages("ReportAckEmail.websiteURL", report.shortURL().get)
            <br/>
        }
        @if(report.vendor.isDefined) {
            @Messages("ReportAckEmail.vendorName", report.vendor.get)
            <br/>
        }
        @if(report.influencer.isDefined) {
            @Messages("ReportAckEmail.influencerName", report.influencer.map(_.name).getOrElse(""))
            <br/>
            @Messages("ReportAckEmail.socialNetwork", report.influencer.flatMap(_.socialNetwork.map(_.entryName))
            .orElse(report.influencer.flatMap(_.otherSocialNetwork)).getOrElse(""))
            <br/>
        }

        <br />
        <b>@Messages("ReportAckEmail.consumer")</b>
        <br/>
        @Messages("ReportAckEmail.lastName", report.lastName)
        <br />
        @Messages("ReportAckEmail.firstName", report.firstName)
        <br />
        @Messages("ReportAckEmail.email", report.email)
        <br/>
        @if(report.visibleToPro) {
            @Messages("ReportAckEmail.contactAgreement", if(report.contactAgreement) {
                Messages("ReportAckEmail.yes")
            } else {
                Messages("ReportAckEmail.no")
            })
            <br/>
        }
    </div>
}

@if(report.needWorkflowAttachment()) {
    <div style="padding-bottom: 0.5em">
        <div style="font-weight: bold;
            text-align: center;
            border-top: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            padding: 10px 0;
            margin: 10px">@Messages("ReportAckEmail.understandSignalConso")</div>
        @if(isPDF) {
            <img src=@routes.Assets.versioned(Messages("attachment.report.step2.public.path")) style="max-width: 100%"/>
        } else {
            <img src="cid:@Messages("attachment.report.step2")" style="max-width: 100%"/>
        }
    </div>
}
}

@if(isPDF) {
    @views.html.pdfs.emailAsPDFLayout(Messages("yourReport")) {
        @contentBlock()
    }
} else {
    @views.html.mails.layout(Messages("yourReport")) {
        @contentBlock()
    }
}
