@page {
    margin-top: 20pt;
    margin-bottom: 20pt;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    height: 960px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.mt-3 {
    margin-top: 16px;
}

.address {
    float: right;
}

.content {
    float: left;
    text-align: justify;
}

.footer {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0px;
}

.footer > img {
    vertical-align: middle;
}

li > ul {
    list-style: circle;
}
