@page {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
}

@font-face {
    font-family: 'Arial';
    src:url(/fonts/arial.ttf);
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}
@font-face {
    font-family: 'Arial';
    src:url(/fonts/arial-Bold.ttf);
    font-weight: bold;
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.mt-0 {
    margin-top: 0;
}

.mb-1 {
    margin-bottom: 4px;
}

.mt-1 {
    margin-top: 4px;
}

.mt-3 {
    margin-top: 16px;
}

.mr-5 {
    margin-right: 34px;
}

.logo-gouv {
    position: absolute;
    left: 0.5cm;
    top: 0.5cm;
}

.logo-gouv > img {
    height: 3.2cm;
}

.logo-sc {
    position: absolute;
    left: 14.85cm;
    top: 0.5cm;
}

.logo-sc > img {
    height: 1.5cm;
}

.sender {
    text-transform: uppercase;
    font-size: 7pt;
    letter-spacing: 0.9pt;
    position: absolute;
    top: 2.5cm;
    left: 9.1cm;
    width: 9.2cm;
    height: 1.4cm;
}

.code {
    font-size: 8pt;
    position: absolute;
    top: 0;
    right: 0.5cm;
    text-align: right;
}

.recipient {
    text-transform: uppercase;
    font-size: 9pt;
    position: absolute;
    top: 5.5cm;
    left: 9.1cm;
    width: 9.2cm;
    height: 2.2cm;
}

.creationDate {
    position: absolute;
    top: 7.5cm;
    left: 0.5cm;
    right: 0.5cm;
}

.content {
    position: absolute;
    top: 8cm;
    left: 0.5cm;
    right: 0.5cm;
    float: left;
    text-align: justify;
}

.page-end {
    position: absolute;
    height: 1cm;
    line-height: 1cm;
    top: 26.69cm;
    left: 0;
    width: 2cm;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100%;
}

.footer > img {
    height: 1cm;
}

p.standout {
    background: #ccc;
}

li.mb-3 {
    margin-bottom: 16px;
}

.scan {
    display: table;
    width: 100%;
}

.scanitem {
    display: table-cell;
    width: 49%;
    box-sizing: border-box;
    text-align: center;
}

.scanitem + .scanitem {
    padding-left: 2%; /* Utiliser le padding pour créer un espace */
    width: 48%;
}

.connect-block {
    border: black solid 1px;
    padding-left: 8px;
    padding-right: 8px;
}