@import java.net.URI
@import utils.FrontRoute
@import scala.concurrent.duration.FiniteDuration

@(probeName: String, number: Double, issueAdjective: String, evaluationPeriod: FiniteDuration)

@views.html.mails.layout("Sonde déclenchée") {
  <p>
    Cet email a été envoyée car la sonde <b>"@probeName"</b> a été déclenchée.
  </p>

  <p>La valeur détectée (<b>@number</b>) est @issueAdjective sur le dernier intervalle de temps (<b>@evaluationPeriod</b>).
  </p>

  <p>Contactez un développeur pour investiguer.</p>
}