@(report: Report, reportResponse: ReportResponse)

@import utils.Constants.ReportStatus._

@views.html.mails.layout("Réponse à un signalement") {
    <ul>
        <li>
            <b>
            @reportResponse.responseType match {
                case ReportResponseType.ACCEPTED => { Le professionnel a pris en compte le signalement }
                case ReportResponseType.REJECTED => { Le professionnel estime que le signalement est infondé }
                case ReportResponseType.NOT_CONCERNED => { Le professionnel estime que le signalement ne le concerne pas }
            }
            </b>
        </li>
        <li>
            Réponse au consommateur : @reportResponse.consumerDetails
        </li>
        <li>
            Réponse à la DGCCRF : @reportResponse.dgccrfDetails
        </li>
    </ul>
    <ul>
        <li>
            Catégorie : @report.category
        </li>
        <li>
            Sous-catégories : @report.subcategories.map { subcategory =>
            <br />
            @subcategory
        }
        </li>

        @report.details.map { detailInputValue =>
            <li>
                @Html(detailInputValue.label) @Html(detailInputValue.value)
            </li>
        }
    </ul>
    <ul>
    @if(report.companySiret.isDefined) {
        <li>
            Nom de l'entreprise : @report.companyName.get
        </li>
        <li>
            Adresse de l'entreprise : @report.companyAddress.get
        </li>
        <li>
            Siret : @report.companySiret.get
        </li>

    }
    @if(report.websiteURL.isDefined) {
        <li>
            Site internet : @report.shortURL.get
        </li>
    }
    @if(report.vendor.isDefined) {
        <li>
            Vendeur : @report.vendor.get
        </li>
    }
    </ul>
    <ul>
        <li>
            Nom : @report.lastName
        </li>
        <li>
            Prénom : @report.firstName
        </li>
        <li>
            Email : @report.email
        </li>
        <li>
            Accord pour contact : @if(report.contactAgreement) {oui} else {non}
        </li>
        <li>
            Lanceur d'alerte : @if(report.employeeConsumer) {oui} else {non}
        </li>
    </ul>
    <ul>
        <li>
            Identifiant technique : @report.id
        </li>
    </ul>
}