@(title: String)(content: Html)

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>@title</title>
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 650px; width: 100%; padding: 1em; font-size: 16px">
            <div style="display: inline-block; text-align: left; margin: 30px auto; width: 49%">
                <img src="cid:logo-marianne" style="max-width: 400px; vertical-align: middle"/>
                <br>
            </div>
            <div style="display: inline-block; text-align: right; margin: 30px auto; width: 50%">
                <img src="cid:logo-signalconso" style="max-width: 400px; vertical-align: middle"/>
                <br>
            </div>
            @content
        </div>
    </body>
</html>