@(report: Report, contactRecipientMail: String, files: List[File])

@import java.time.format.DateTimeFormatter

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Votre signalement</title>
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 650px; width: 100%; padding: 1em">
            <div style="text-align: center; padding-bottom: 1em">
                <img src="cid:logo" style="vertical-align: middle"/>
                <br>
            </div>
            <p style="font-size: 16px">
                Merci <b>@report.firstName</b>, votre signalement a bien été enregistré.
            </p>
            <div style="padding-bottom: 0.5em">
                <hr/>
                <div style="font-weight: bold; text-align: center">Détail du signalement</div>
                <hr>
                <ul>
                    <li>
                        Problème : @report.category @report.subcategory.map(subcategory => s"(${subcategory})")
                    </li>
                    @report.precision match {
                        case Some(precision) => {
                            <li>
                                Précision : @precision
                            </li>
                        }
                        case _ => {}
                    }
                </ul>
                <ul>
                    <li>
                        Etablissement : @report.companyAddress
                    </li>
                </ul>
                <ul>
                    <li>
                        Date du constat : @report.anomalyDate.format(DateTimeFormatter.ofPattern("dd/MM/yyyy"))
                    </li>
                    <li>
                        Plage horaire : @report.anomalyTimeSlot.map(hour => s"de ${hour}h à ${hour + 1}h")
                    </li>
                    <li>
                        Description du problème : @report.description
                    </li>
                </ul>
                <ul>
                    <li>
                        Nom : @report.lastName
                    </li>
                    <li>
                        Prénom : @report.firstName
                    </li>
                    <li>
                        Email : @report.email
                    </li>
                    <li>
                        Accord pour contact : @if(report.contactAgreement) {oui} else {non}
                    </li>
                </ul>
                <ul>
                    <li>
                    @files match {
                        case List() => { Aucune pièce jointe }
                        case files => {
                            Pièces jointes :
                            <ul>
                            @files.map { file =>
                                <li>
                                    @file.filename
                                </li>
                            }
                            </ul>
                        }
                    }
                    </li>
                </ul>

                <hr/>
            </div>
            <p>
                Pour améliorer encore le droit des consommateurs, continuez à vous informer et signaler les anomalies constatées sur <a href="https://signalconso.beta.gouv.fr">https://signalconso.beta.gouv.fr</a>.
            </p>
            <p>
                Vous avez une question ? Vous constatez un dysfonctionnement ? <a href="mailto:@contactRecipientMail" title="Nous écrire un mail">Contactez-nous</a>
            </p>
            <p>
                <i>L'équipe SignalConso</i>
            </p>
            <br />

        </div>
    </body>
</html>