@(report: Report, contactRecipientMail: String, files: List[File])

@import java.time.format.DateTimeFormatter

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Votre signalement</title>
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 650px; width: 100%; padding: 1em">
            <div style="text-align: center; padding-bottom: 1em">
                <img src="cid:logo" style="vertical-align: middle"/>
                <br>
            </div>
            <p style="font-size: 16px">
                Merci <b>@report.firstName</b>, votre signalement a bien été enregistré.
            </p>
            <div style="padding-bottom: 0.5em">
                <hr/>
                <div style="font-weight: bold; text-align: center">Détail du signalement</div>
                <hr />
                <b>Problème</b>
                <br/>
                @report.category
                <br />
                @report.subcategories.map {subcategory =>
                    @subcategory
                    <br />
                }

                <br />
                <b>Description</b>
                <br/>
                @report.details.map { detailInputValue =>
                    @Html(detailInputValue.label) @Html(detailInputValue.value)
                    <br/>
                }

                @if(files.length > 0) {
                    <br/>
                    Pièces jointes :
                    <ul>
                    @files.map { file =>
                        <li>
                            @file.filename
                        </li>
                    }
                    </ul>
                } else {
                    <br />
                }

                <b>Etablissement</b>
                <br/>
                @report.companyAddress
                <br/>

                <br />
                <b>Consommateur</b>
                <br/>
                Nom : @report.lastName
                <br />
                Prénom : @report.firstName
                <br />
                Email : @report.email
                <br/>
                Accord pour contact : @if(report.contactAgreement) {oui} else {non}
                <br/>

                <hr/>
            </div>
            <p>
                Pour améliorer encore le droit des consommateurs, continuez à vous informer et signaler les anomalies constatées sur <a href="https://signalconso.beta.gouv.fr">https://signalconso.beta.gouv.fr</a>.
            </p>
            <p>
                Vous avez une question ? Vous constatez un dysfonctionnement ? <a href="mailto:@contactRecipientMail" title="Nous écrire un mail">Contactez-nous</a>
            </p>
            <p>
                <i>L'équipe SignalConso</i>
            </p>
            <br />

        </div>
    </body>
</html>