@(report: Report, event: Event, user: User, contactRecipientMail: String)

@import utils.Constants.StatusPro._

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Votre réponse au signalement</title>
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 650px; width: 100%; padding: 1em; font-size: 16px">
            <div style="text-align: center; margin: 30px auto 50px">
                <img src="cid:logo" style="max-width: 400px; vertical-align: middle"/>
                <br>
            </div>
            <p>
                Bonjour @report.firstName @report.lastName,
            </p>
            @event.resultAction match {
                case Some(true) => {
                    <p>
                        Vous avez fait un signalement le @report.creationDate concernant l’établissement @report.companyName
                        (SIRET : @report.companySiret) situé à l'adresse @report.companyAddress @report.companyPostalCode.
                    </p>

                    <p>Le professionnel a répondu à votre signalement !</p>

                    <p>Voici sa réponse :</p>

                    <p>
                        "@event.detail"
                    </p>

                    <p>
                        Nous vous remercions d'avoir fait un signalement sur SignalConso.
                    </p>

                    <p>
                        Si vous retournez dans cet établissement et vous constatez que le problème n’a pas été corrigé, faites
                        un nouveau signalement.
                    </p>

                }
                case Some(false) => {
                    <p>
                        Votre signalement créé le @report.creationDate concernant l’établissement @report.companyName
                        (SIRET : @report.companySiret) situé à l'adresse @report.companyAddress @report.companyPostalCode
                        est considéré comme infondé par le professionnel.
                    </p>

                    <p>
                        Le commerçant ne pourra donc pas donner suite à votre signalement.
                    </p>

                    <p>
                        Nous vous précisons que seuls les constats effectués par les enquêteurs de la DGCCRF – lors d'un
                        contrôle – peuvent donner suite à des poursuites.
                    </p>

                    <p>
                        Nous vous remercions d'avoir traité le signalement !
                    </p>

                }
            }

            <p>La plateforme est en expérimentation et grâce à vous, nous continuons à l'améliorer.</p>

            <p>À bientôt sur SignalConso !</p>

            <p>
                <i>L'équipe SignalConso</i>
            </p>

            <br />

        </div>
    </body>
</html>