@(report: Report, contactRecipientMail: String, files: List[ReportFile])

@import java.time.format.DateTimeFormatter

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Votre signalement</title>
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 650px; width: 100%; padding: 1em; font-size: 16px">
            <div style="text-align: center; margin: 30px auto 50px">
                <img src="cid:logo" style="max-width: 400px; vertical-align: middle"/>
                <br>
            </div>
            <p>
                Bonjour @report.firstName @report.lastName,
            </p>
            <p>
                Votre signalement a bien été enregistré dans la base de données de la répression des fraudes.
            </p>
            <p>
                Nous allons contacter le commerçant pour lui proposer d’en prendre connaissance. Il faut environ 6 jours pour que le commerçant prenne connaissance du signalement.
            </p>
            <p>
                Si le commerçant accepte de connaître le signalement, vous recevrez un email.
            </p>
            <p>
                Si le commerçant décide de mettre en place des actions pour corriger le problème, vous recevrez également un email.

            </p>
            <p>
                Vous avez une question&nbsp;? Vous souhaitez modifier votre signalement&nbsp;? <a href="mailto:contact@@signalconso.beta.gouv.fr">Contactez-nous</a>
                <br/>
            </p>

            <p>
                <i>L'équipe SignalConso</i>
            </p>

            <p style="text-align: center; margin: 30px">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSezub625C5wOpnJY0rP4iXHYfr-s-MtEY84vFjY3ckeULjxbQ/viewform"><img src="cid:questionnaire" alt="Questionnaire" style="max-width: 250px"></a>
            </p>


            <div style="padding-bottom: 0.5em">
                <div style="font-weight: bold;
                    text-align: center;
                    border-bottom: 1px solid #D3D3D3;
                    padding-bottom: 20px;
                    margin-bottom: 20px">Détail du signalement</div>

                <b>Problème</b>
                <br/>
                @report.category
                <br />
                @report.subcategories.map {subcategory =>
                    @subcategory
                    <br />
                }

                <br />
                <b>Description</b>
                <br/>
                @report.details.map { detailInputValue =>
                    @Html(detailInputValue.label) @Html(detailInputValue.value)
                    <br/>
                }

                @if(files.length > 0) {
                    <br/>
                    Pièces jointes :
                    <ul>
                    @files.map { file =>
                        <li>
                            @file.filename
                        </li>
                    }
                    </ul>
                } else {
                    <br />
                }

                <b>Établissement</b>
                <br/>
                @report.companyAddress
                <br/>

                <br />
                <b>Consommateur</b>
                <br/>
                Nom : @report.lastName
                <br />
                Prénom : @report.firstName
                <br />
                Email : @report.email
                <br/>
                Accord pour contact : @if(report.contactAgreement) {oui} else {non}
                <br/>

            </div>
            <br />

        </div>
    </body>
</html>