@(user: User, url: String)

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Votre signalement</title>
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 650px; width: 100%; padding: 1em; font-size: 16px">
            <div style="text-align: center; margin: 30px auto 50px">
                <img src="cid:logo" style="max-width: 400px; vertical-align: middle"/>
                <br>
            </div>
            <p>
                Bonjour,
            </p>
            <p>
                Pour choisir un nouveau de passe d'accès à SignalConso veuillez cliquer sur le lien suivant&#160;: @url
            </p>
            <p>
                ATTENTION : Ce lien n'est valable que 24 heures après l'envoi de cet e-mail et à condition que vous n'ayez pas effectué une nouvelle demande de réinitialisation de mot de passe.
            </p>

            <p>
                <i>L'équipe SignalConso</i>
            </p>

            <hr />
            Cet e-mail vous a été envoyé suite à une demande de modification de mot de passe du compte associé à l'identifiant @user.login sur le site signalconso.beta.gouv.fr.
            <ul>
                <li>Si cet identifiant ne vous appartient plus, merci de <a href="mailto:contact@@signalconso.beta.gouv.fr">nous contacter</a></li>
                <li>Si vous n'avez pas effectué cette demande, merci de ne pas tenir compte de cet e-mail.</li>
            </ul>

        </div>
    </body>
</html>