@(signalement: Signalement)

@import java.time.format.DateTimeFormatter

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Nouveau signalement</title>
    </head>
    <body>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Type d'établissement
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.typeEtablissement
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Type d'anomalie
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.categorieAnomalie
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Précision
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.precisionAnomalie
        </div>

        <div style="color:#777; width: 24%; text-align: right; float: left">
            Nom de l'établissement
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.nomEtablissement
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Adresse de l'établissement
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.adresseEtablissement
        </div>
        <br />
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Date du constat
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.dateConstat.format(DateTimeFormatter.ofPattern("dd/MM/yyyy"))
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Plage horaire
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.heureConstat.map(hour => s"de ${hour}h à ${hour + 1}h")
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Précision du problème
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.description
        </div>
        <br />
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Nom
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.nom
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Prénom
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.prenom
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Email
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.email
        </div>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Accord pour contact
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@if(signalement.accordContact) {oui} else {non}
        </div>
        <br/>
        <div style="color:#777; width: 24%; text-align: right; float: left">
            Identifiant technique
        </div>
        <div style="margin-left: 25%; text-align: left;">
                &nbsp;@signalement.id
        </div>
    </body>
</html>