@(invitationUrl: String, company: Company, invitedBy: User)

@views.html.mails.layout(s"Rejoignez l'entreprise @$company.name sur SignalConso") {
    <p>
        Bonjour,
    </p>

    <p>
        @invitedBy.fullName vous invite à rejoindre l'entreprise @company.name sur SignalConso.
        Afin de procéder, veuillez suivre le lien sécurisé ci-dessous.
    </p>

    <p style="text-align: center;">
        <a href="@invitationUrl">@invitationUrl</a>
    </p>

    <p>Cordialement,</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>
}
