
@import utils.FrontRoute


@(implicit frontRoute: FrontRoute)

@views.html.mails.layout(s"Signalement résolu") {
    <p>
        Bonjour,
    </p>

    <p>Le consommateur nous a informé que le signalement a été résolu en dehors de signal conso et nous vous en félicitons !</p>

    <p>Le signalement est donc considéré comme clôt et aucune action n'est nécéssaire de votre part.</p>

    <p>
        Votre coopération est également visible par la DGCCRF et s’inscrit dans la relation de transparence
        et d’efficacité avec l’administration.
    </p>

    <p>
        Par ailleurs, nous vous rappelons que seuls les constats effectués par les enquêteurs de la DGCCRF
        peuvent donner suite à des poursuites.
    </p>

    <p>Cordialement,</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    @views.html.fragments.linkNotificationsManager()
}