@import utils.FrontRoute
@import models.report.Report
@import java.time.Period
@import java.time.OffsetDateTime
@import java.time.Duration
@(reports: List[Report], delay: Period)(implicit frontRoute: FrontRoute)

@views.html.mails.layout(s"Expiration de signalement(s).") {
    <p>
        Bonjour,
    </p>

    <p>
        Vous avez @reports.length @plural(reports, "nouveau signalement", "nouveaux signalements") en attente depuis plus de @delay.getDays jours concernant votre entreprise :
    </p>

    <p style="text-align: center;">
        @views.html.fragments.addressFromReport(reports.head, includeSiret = true)
    </p>

    <p>
        @plural(reports, "Ce signalement expire", "Ces signalements expirent") demain. Passé ce délai, vous pourrez toujours @plural(reports, "le", "les") lire mais vous ne pourrez plus y répondre.
    </p>

    <p>
        Pour @plural(reports, "le", "les") consulter, il vous suffit de vous connecter sur votre <a href="@frontRoute.dashboard.login">Espace Professionnel</a>
        à l'aide de votre adresse e-mail et du mot de passe que vous avez créé à votre première connexion sur SignalConso.
    </p>

    <p>
        <em>Si vous avez oublié votre mot de passe, vous pouvez le réinitialiser directement depuis la page de connexion.</em>
    </p>

    <p>
        Pour apporter une réponse, allez sur votre Espace Professionnel. Dans le détail de chaque signalement, cliquez sur le bouton “Répondre”.
    </p>

    <p>
        Vous pouvez également indiquer si vous estimez qu'un signalement est infondé ou ne concerne pas votre entreprise.
    </p>

    <p>
        Ce service public est facultatif et gratuit.
        À travers SignalConso, notre objectif est d’établir un rapport de confiance et de
        transparence entre les consommateurs, les professionnels et les services de la DGCCRF.
    </p>

    <p>Cordialement,</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    @views.html.fragments.linkNotificationsManager()
}

@plural(reports: List[Report], s: String, p: String) = {
    @if(reports.length > 1) {
      @p
    } else {
      @s
    }
}

@highlight_expiration(expirationDate: OffsetDateTime) = {
  @if(Duration.between(OffsetDateTime.now(), expirationDate).getSeconds <= 604800) {
      <strong style="color: tomato">@expirationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy"))</strong>
  } else {
      <strong>@expirationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy"))</strong>
  }
}