@import utils.EmailAddress
@import utils.FrontRoute
@import utils.QRCodeGenerator

@import models.company.Company
@(
    company: Company,
    reportCreationDate: Option[java.time.LocalDate],
    reportExpirationDate: Option[java.time.LocalDate],
    code: String
)(implicit frontRoute: FrontRoute, contactAddress: EmailAddress)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Activation du compte SignalConso</title>

        <link rel="stylesheet" href="@routes.Assets.versioned("css/pdf.css")" type="text/css" media="print" />

    </head>
    <body>
        <div style="display: block; page-break-after: always">
            <div class="logo-gouv">
                <img src='@routes.Assets.versioned("images/gouv.png")'/>
            </div>

            <div class="code">
                DGCCRF_SCONSO_02
            </div>

            <div class="logo-sc">
                <img src='@routes.Assets.versioned("images/logo-signal-conso-fond-blanc.png")'/>
            </div>

            <div class="sender">
                Service SignalConso
                <br />DGCCRF-052
                <br />59, boulevard Vincent Auriol
                <br />75013 Paris Cedex 13
            </div>

            <div class="recipient">
                @views.html.fragments.address(company)
            </div>

            @views.html.fragments.creationDate()

            <div class="content mt-3">

                <p class="text-bold">
                    Objet : RELANCE – signalement reçu sur Signal.conso.gouv.fr à propos de votre entreprise
                </p>

                <p class="mt-3">
                    Madame, Monsieur,
                </p>

                <p>
                @reportCreationDate.map{date =>
                    Le @date.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")), la Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) a reçu, via Signal.conso.gouv.fr, un signalement concernant :
                }.getOrElse {
                    La Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) a reçu, via Signal.conso.gouv.fr, un signalement concernant :
                }
                </p>

                <p class="text-center text-bold mb-1">
                @views.html.fragments.address(company, includeSiret = true)
                </p>

                <div class="connect-block">
                    <p class="mt-1 mb-1">
                    @reportExpirationDate.map{date =>
                    <strong>Nous vous invitons à en prendre connaissance et à y répondre.</strong> Pour ce faire, vous devez créer votre compte sur l'Espace Pro de SignalConso avant le @date.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy"))
                    }.getOrElse {
                      <strong>Nous vous invitons à en prendre connaissance et à y répondre.</strong> Pour ce faire, vous devez créer votre compte sur l'Espace Pro de SignalConso
                    }
                    </p>

                    <div class="scan">
                        <div class="scanitem">
                            <p class="mb-0">Soit en vous rendant à l'adresse <a href="@frontRoute.dashboard.welcome">@frontRoute.dashboard.welcome</a> avec le code d'activation suivant :</p>
                            <p class="text-center text-bold">
                                Code d’activation : @code
                            </p>
                        </div>
                        <div class="scanitem">
                            <p class="mb-0">Soit en scannant le QR Code suivant : </p>
                            @defining(QRCodeGenerator.generate(frontRoute.dashboard.activation(company.siret, code).toString, 82, 82)) { qrCode =>
                                <img src="data:image/png;base64,@java.util.Base64.getEncoder.encodeToString(qrCode)" alt="QR Code" />
                            }
                        </div>
                    </div>
                </div>

                <p class="text-bold mb-0 mt-1">
                    Si vous rencontrez des difficultés pour créer votre compte, vous pouvez nous envoyer, un email à l’adresse <a href="mailto:@contactAddress">@contactAddress</a> en précisant <u>obligatoirement</u> le numéro SIRET de l’entreprise concernée : @company.siret.
                </p>

                <p>
                    Signal.conso.gouv.fr permet aux entreprises de <strong>répondre aux clients insatisfaits</strong> pour améliorer leur service et de résoudre les dysfonctionnements pour <strong>éviter les litiges</strong>.
                </p>

                <p>
                    Signal.conso.gouv.fr, qui fonctionne sur la transparence, est par ailleurs <strong>utilisé par les enquêteurs de la DGCCRF pour cibler leurs contrôles et enquêtes.</strong>
                </p>

                <p>
                    Nous vous renouvelons ainsi notre demande de traiter le signalement dont vous faites l’objet, sans attendre un contrôle. Nous vous prions de ne pas tenir compte de ce courrier si cela a déjà été fait et <strong>nous vous remercions de votre action.</strong>
                </p>

                <p>
                    Nous restons à votre disposition pour tout renseignement complémentaire et vous prions d’agréer nos salutations distinguées.
                </p>

                <p class="text-right mr-5">
                    Le service SignalConso
                </p>
            </div>

            <div class="page-end  text-center">
                ###
            </div>
        </div>

    </body>
</html>
