@import utils.EmailAddress
@import utils.FrontRoute
@import utils.FrontRoute
@import utils.QRCodeGenerator

@import models.company.Company
@(
    company: Company,
    reportCreationDate: Option[java.time.LocalDate],
    reportExpirationDate: Option[java.time.LocalDate],
    code: String,
)(implicit frontRoute: FrontRoute, contactAddress: EmailAddress)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Activation du compte SignalConso</title>

        <link rel="stylesheet" href="@routes.Assets.versioned("css/pdf.css")" type="text/css" media="print" />

    </head>
    <body>
        <div style="display: block; page-break-after: always">
            <div class="logo-gouv">
                <img src='@routes.Assets.versioned("images/gouv.png")'/>
            </div>

            <div class="code">
                DGCCRF_SCONSO_01
            </div>

            <div class="logo-sc">
                <img src='@routes.Assets.versioned("images/logo-signal-conso-fond-blanc.png")'/>
            </div>

            <div class="sender">
                Service SignalConso
                <br />DGCCRF-052
                <br />59, boulevard Vincent Auriol
                <br />75013 Paris Cedex 13
            </div>

            <div class="recipient">
                @views.html.fragments.address(company)
            </div>

            @views.html.fragments.creationDate()

            <div class="content mt-3">

                <p class="text-bold">
                    Objet : signalement reçu sur Signal.conso.gouv.fr à propos de votre entreprise
                </p>

                <p class="mt-3">
                    Madame, Monsieur,
                </p>

                <p>
                    La Direction générale de la Concurrence, de la Consommation et de la Répression des fraudes (DGCCRF) gère la plateforme Signal.conso.gouv.fr.
                    Cette plateforme en ligne permet aux consommateurs de signaler des manquements relatifs au Code de la Consommation et vous permet en tant que professionnel de consulter les signalements vous concernant pour y répondre.
                    Vous pouvez ainsi remédier au problème sans attendre mais aussi faire part de vos observations si vous estimez ce signalement infondé.
                </p>

                <p>
                    Ce service public est facultatif et gratuit. Il repose sur la transparence et la confiance entre les consommateurs, les professionnels et les services de la DGCCRF.
                </p>

                <p>
                @reportCreationDate.map{date =>
                    Nous vous écrivons car un signalement a été reçu le @date.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")) sur signal.conso.gouv.fr concernant votre société :
                }.getOrElse {
                    Nous vous écrivons car un signalement a été reçu sur signal.conso.gouv.fr concernant votre société :
                }
                </p>

                <p class="text-center text-bold mb-1">
                    @views.html.fragments.address(company, includeSiret = true)
                </p>

                <div class="connect-block">
                    <p class="mt-1 mb-1">
                    @reportExpirationDate.map{date =>
                        Pour en prendre connaissance et y répondre, <strong>créez votre compte avant le @date.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")) sur l'Espace Pro de SignalConso</strong>
                    }.getOrElse {
                        Pour en prendre connaissance et y répondre, <strong>créez votre compte sur l'Espace Pro de SignalConso</strong>
                    }
                    </p>

                    <div class="scan">
                        <div class="scanitem">
                            <p class="mb-0">Soit en vous rendant à l'adresse <a href="@frontRoute.dashboard.welcome">@frontRoute.dashboard.welcome</a> avec le code d'activation suivant :</p>
                            <p class="text-center text-bold">
                                Code d’activation : @code
                            </p>
                        </div>
                        <div class="scanitem">
                            <p class="mb-0">Soit en scannant le QR Code suivant : </p>
                            @defining(QRCodeGenerator.generate(frontRoute.dashboard.activation(company.siret, code).toString, 82, 82)) { qrCode =>
                                <img src="data:image/png;base64,@java.util.Base64.getEncoder.encodeToString(qrCode)" alt="QR Code" />
                            }
                        </div>
                    </div>
                </div>

                <p class="mt-1">
                    Passé cette date, la DGCCRF et le consommateur seront informés de votre absence de réaction. Vous pourrez toujours consulter le signalement mais vous ne pourrez plus y répondre.
                </p>

                <p class="text-bold">
                    Si vous rencontrez des difficultés pour créer votre compte, vous pouvez nous envoyer un email à l’adresse <a href="mailto:@contactAddress">@contactAddress</a> en précisant <u>obligatoirement</u> le numéro SIRET de l’entreprise concernée : @company.siret.
                </p>

                <p>
                    Nous restons à votre disposition pour tout renseignement complémentaire et vous prions d’agréer nos salutations distinguées.
                </p>

                <p class="text-right mr-5">
                    Le service SignalConso
                </p>
            </div>

            <div class="page-end text-center">
                ###
            </div>
        </div>
    </body>
</html>
