@import utils.EmailAddress
@import utils.FrontRoute
@import utils.QRCodeGenerator

@import models.company.Company
@(
    company: Company,
    reportNumber: Int,
    reportCreationDate: Option[java.time.LocalDate],
    reportExpirationDate: Option[java.time.LocalDate],
    code: String
)(implicit frontRoute: FrontRoute, contactAddress: EmailAddress)
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Activation du compte SignalConso</title>

        <link rel="stylesheet" href="@routes.Assets.versioned("css/pdf.css")" />

    </head>
    <body>
        <div style="display: block; page-break-after: always">
            <div class="logo-gouv">
                <img src='@routes.Assets.versioned("images/gouv.png")'/>
            </div>

            <div class="code">
                DGCCRF_SCONSO_03
            </div>

            <div class="logo-sc">
                <img src='@routes.Assets.versioned("images/logo-signal-conso-fond-blanc.png")'/>
            </div>

            <div class="sender">
                Service SignalConso
                <br />DGCCRF-052
                <br />59, boulevard Vincent Auriol
                <br />75013 Paris Cedex 13
            </div>

            <div class="recipient">
                @views.html.fragments.address(company)
            </div>

            @views.html.fragments.creationDate()

            <div class="content mt-3">

                <p class="text-bold">
                    @if(reportNumber > 1) {
                        Objet : RELANCE – signalements sans réponse à propos de votre entreprise sur Signal.conso.gouv.fr
                    } else {
                        Objet : RELANCE – signalement sans réponse à propos de votre entreprise sur Signal.conso.gouv.fr
                    }
                </p>

                <p class="mt-3">
                    Madame, Monsieur,
                </p>

                <p>
                    @if(reportNumber > 1) {
                        @reportCreationDate.map { date =>
                            Depuis le @date.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")), la Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) a reçu via Signal.conso.gouv.fr @reportNumber signalements pour l’entreprise :
                        }.getOrElse {
                            La Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) a reçu via Signal.conso.gouv.fr @reportNumber signalements pour l’entreprise :
                        }
                    } else {
                        @reportCreationDate.map { date =>
                            Depuis le @date.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")), la Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) a reçu via Signal.conso.gouv.fr un signalement pour l’entreprise :
                        }.getOrElse {
                            La Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes (DGCCRF) a reçu via Signal.conso.gouv.fr un signalement pour l’entreprise :
                        }
                    }
                </p>

                <p class="text-center text-bold mb-1">
                @views.html.fragments.address(company, includeSiret = true)
                </p>

                <div class="connect-block">
                    <p class="mt-1 mb-1">
                        @if(reportNumber > 1) {
                            Ces signalements sont restés sans réponse. <strong>Nous vous invitons instamment à les traiter sans attendre un contrôle de nos services</strong>. Pour cela, vous devez créer votre compte sur l'Espace Pro de SignalConso
                        } else {
                            Ce signalement est resté sans réponse. <strong>Nous vous invitons instamment à le traiter sans attendre un contrôle de nos services</strong>. Pour cela, vous devez créer votre compte sur l'Espace Pro de SignalConso
                        }
                    </p>

                    <div class="scan">
                        <div class="scanitem">
                            <p class="mb-0">Soit en vous rendant à l'adresse <a href="@frontRoute.dashboard.welcome">@frontRoute.dashboard.welcome</a> avec le code d'activation suivant :</p>
                            <p class="text-center text-bold">
                                Code d’activation : @code
                            </p>
                        </div>
                        <div class="scanitem">
                            <p class="mb-0">Soit en scannant le QR Code suivant : </p>
                            @defining(QRCodeGenerator.generate(frontRoute.dashboard.activation(company.siret, code).toString, 82, 82)) { qrCode =>
                                <img src="data:image/png;base64,@java.util.Base64.getEncoder.encodeToString(qrCode)" alt="QR Code" />
                            }
                        </div>
                    </div>
                </div>

                <p class="text-bold mt-1 mb-0">
                    Si vous rencontrez des difficultés pour créer votre compte, vous pouvez nous envoyer, un email à l’adresse <a href="mailto:@contactAddress">@contactAddress</a> en précisant <u>obligatoirement</u> le numéro SIRET de l’entreprise concernée : @company.siret.
                </p>

                <p>
                    Signal.conso.gouv.fr enregistre les signalements de consommateurs insatisfaits d’un professionnel.
                </p>

                <p>
                    C’est un outil de ciblage pour les opérations de contrôles et les enquêtes menées par les services de la DGCCRF.
                    <strong>Mais il permet aussi aux professionnels de répondre aux signalements dont ils ont fait l’objet, et le cas échéant, de corriger le problème soulevé, afin de prévenir d’éventuels litiges, sanctions ou actions contentieuses.</strong>
                </p>

                <p>
                    Nous restons à votre disposition pour tout renseignement complémentaire et vous prions d’agréer nos salutations distinguées.
                </p>

                <p class="text-right mr-5">
                    Le service SignalConso
                </p>
            </div>

            <div class="page-end text-center">
                ###
            </div>
        </div>

    </body>
</html>
