@import java.time.LocalDateTime
@import java.time.format.DateTimeFormatter
@import models.report._

@import models.event.Event
@import models.event.Event
@import models.company.Company
@import java.time.temporal.ChronoUnit
@import play.api.libs.json._
@(
        event: Option[Event]
)(implicit messageProvider: MessagesProvider)

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>@Messages("proResponse.title")</title>

        <link rel="stylesheet" href='@routes.Assets.versioned("css/report.css")'>

    </head>
    <body>
        <div style="page-break-before: always">
            <h1>@Messages("proResponse.title2")</h1>
            @if(event.isDefined) {
                <h3>@Messages("proResponse.statusLabel") :</h3>
                <p>
                    @if((event.get.details \ "responseType").as[String] == "ACCEPTED") {
                        @Messages("proResponse.responseAccepted")
                    } else if((event.get.details \ "responseType").as[String] == "REJECTED") {
                        @Messages("proResponse.responseRejected")
                } else {
                    @Messages("proResponse.responseNotResponsible")
                }
                </p>
                <h3>@Messages("proResponse.commentTitle")</h3>
                <p>
                @((event.get.details \ "consumerDetails").as[String])
                </p>
            } else {
                <p>@Messages("proResponse.responseIgnored")</p>
            }
        </div>
    </body>
</html>