@import utils.FrontRoute
@import java.time.LocalDateTime
@import java.time.format.DateTimeFormatter
@import models.report._

@import models.event.Event
@import models.event.Event
@import models.company.Company
@import java.time.temporal.ChronoUnit
@import models.report.review.ResponseConsumerReview
@import models.report.review.ResponseEvaluation
@import models.report.review.EngagementReview
@import models.report.ExistingReportResponse
@(
        report: Report,
        maybeCompany: Option[Company],
        events: Seq[(Event, Option[User])],
        responseOption: Option[ExistingReportResponse],
        consumerReviewOption: Option[ResponseConsumerReview],
        engagementReviewOption: Option[EngagementReview],
        companyEvents: Seq[(Event, Option[User])],
        files: Seq[ReportFileApi]
)(
        implicit frontRoute: FrontRoute, userRoleOpt: Option[UserRole] = None, messageProvider: MessagesProvider
)

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta name="author" content="SignalConso">
        <meta name="creator" content="SignalConso">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>@Messages("reportPDF.page.title", report.id)</title>

        <link rel="stylesheet" href='@routes.Assets.versioned("css/report.css")'>
    </head>
    <body>
        <div style="page-break-before: always;">
            <div class="logo-marianne">
                <img src='@routes.Assets.versioned("images/logo-marianne.jpg")' alt="logo Marianne"/>
            </div>
            <div class="logo-sc">
                <img src='@routes.Assets.versioned("images/logo-signal-conso.png")' alt="logo SignalConso" height="1.7cm"/>
            </div>
            <div class="references">
                <small>
                    @Messages("reportPDF.references.uniqueId", report.id)<br>
                @Messages("reportPDF.references.documentExtractedOn", LocalDateTime.now().format(DateTimeFormatter.ofPattern("dd/MM/yyyy à HH:mm:ss")))
                </small>
            </div>
            <div class="content">
                <div>
                    <h2>@Messages("reportPDF.report.typeHeader")</h2>
                    <ul>
                        <li>
                        @ReportCategory.displayValue(report.category)
                        </li>
                        @report.subcategories.map { subcat =>
                            <li>
                                @subcat
                            </li>
                        }
                    </ul>
                    <h2>@Messages("reportPDF.report.detailHeader")</h2>
                    <ul>
                    @report.details.map { input =>
                        <li>
                            <b>@Html(input.label)</b> @input.value
                        </li>
                    }
                    </ul>
                    @report.influencer.map { influencer =>
                        <h3>@Messages("reportPDF.report.influencerHeader")</h3>
                        <ul>
                            <li><b>@Messages("reportPDF.report.influencerName", influencer.name)</b></li>
                            <li><b>@Messages("reportPDF.report.influencerPlatform", influencer.socialNetwork)</b></li>
                        </ul>
                    }
                    @responseOption.map { response =>
                        <h2>@Messages("reportPDF.report.responseHeader")</h2>

                        <b>
                        @response.responseType match {
                            case ReportResponseType.ACCEPTED => {
                                @Messages("reportPDF.report.responseAccepted")
                            }
                            case ReportResponseType.REJECTED => {
                                @Messages("reportPDF.report.responseRejected")
                            }
                            case ReportResponseType.NOT_CONCERNED => {
                                @Messages("reportPDF.report.responseNotConcerned")
                            }
                        }

                        </b>
                        <div>
                         <b>
                             @ExistingReportResponse.translateResponseDetails(response).getOrElse("")
                         </b>
                        </div>
                        <div>@response.consumerDetails</div>
                    @response.dgccrfDetails.filter(_.trim.nonEmpty).map { details =>
                        <br/>
                        <b>@Messages("reportPDF.report.dgccrfDetailsHeader")</b>
                        <div>@details</div>
                    }
                    }

                    @consumerReviewOption.map { review =>
                        <h2>@Messages("reportPDF.report.responseReviewHeader")</h2>
                        <p>
                            <b>@Messages("reportPDF.report.reviewDetailHeader")</b>
                            @review.evaluation match {
                                case ResponseEvaluation.Positive => {
                                    @Messages("reportPDF.report.reviewPositive")
                                }
                                case ResponseEvaluation.Negative => {
                                    @Messages("reportPDF.report.reviewNegative")
                                }
                                case ResponseEvaluation.Neutral => {
                                    @Messages("reportPDF.report.reviewNeutral")
                                }
                            }
                        </p>
                        @review.details.filter(_.nonEmpty).map { details =>
                            <p>
                                <b>@Messages("reportPDF.report.reviewDetail")</b>
                                @details
                            </p>
                        }
                    }

                    @engagementReviewOption.map { review =>
                        <h2>@Messages("reportPDF.report.engagementReviewHeader")</h2>
                        <p>
                            <b>@Messages("reportPDF.report.reviewDetailHeader")</b>
                            @review.evaluation match {
                                case ResponseEvaluation.Positive => {
                                    @Messages("reportPDF.report.reviewPositive")
                                }
                                case ResponseEvaluation.Negative => {
                                    @Messages("reportPDF.report.reviewNegative")
                                }
                                case ResponseEvaluation.Neutral => {
                                    @Messages("reportPDF.report.reviewNeutral")
                                }
                            }
                        </p>
                        @review.details.filter(_.nonEmpty).map { details =>
                            <p>
                                <b>@Messages("reportPDF.report.reviewDetail")</b>
                                @details
                            </p>
                        }
                    }

                    <h2>@Messages("reportPDF.report.companyHeader")</h2>
                    @report.companySiret.map { siret =>
                        <div>
                            <b>@siret</b>
                        </div>
                    }
                    <div>
                    @views.html.fragments.proAddressForConsumer(maybeCompany)
                    </div>
                    @report.websiteURL.websiteURL.map { url =>
                        <div>
                            @url
                        </div>
                    }
                    @report.phone.map { phone =>
                        <div>
                            @phone
                        </div>
                    }
                    @report.vendor.map { vendor =>
                        <div>
                            <h2>@Messages("reportPDF.report.vendorHeader")</h2>
                            <div>@vendor</div>
                        </div>
                    }
                    <h2>@Messages("reportPDF.report.consumerHeader")</h2>
                    @if(!report.contactAgreement) {
                        <div class="note">@Messages("reportPDF.report.consumerAnonymousNote")</div>
                    }
                    <div>
                        <b>@report.firstName @report.lastName</b>
                    </div>
                    <div>
                    @report.email
                    </div>
                    @report.consumerPhone.map { phone =>
                        <div>
                            @phone
                        </div>
                    }
                    @report.consumerReferenceNumber.map { consumerReferenceNumber =>
                        <div>
                            @Messages("reportPDF.report.consumerReferenceNumber", consumerReferenceNumber)
                        </div>
                    }
                </div>
                <div>
                    <h2>@Messages("reportPDF.report.attachmentsHeader")</h2>
                    @if(files.isEmpty) {
                        <span>@Messages("reportPDF.report.noAttachments")</span>
                    } else {
                        @Messages("reportPDF.report.attachmentsHeader") :
                        <ul>
                        @files.map { f =>
                            <li>@f.filename</li>
                        }
                        </ul>
                    }
                </div>
                @if(userRoleOpt.exists(role => UserRole.AdminsAndReadOnlyAndAgentsWithSSMVM.contains(role))) {
                    <div>
                        <h2>@Messages("reportPDF.report.historyHeader")</h2>
                        <p>
                            <span class="note">@report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("d MMMM yyyy à HH:mm:ss"))</span>
                            <br />
                            <b>@Messages("reportPDF.report.historyEntryCreation")</b>
                        </p>
                        @events.sortBy(_._1.creationDate).map { case (e, u) =>
                        <p>
                            <span class="note">@e.formattedDate</span>
                            <br />
                            <b>@e.action.value</b>
                            <br />
                            @e.getDescription
                        </p>
                        }
                    </div>
                }
            </div>
            <div class="footer text-center">
                <img src='@routes.Assets.versioned("images/logo-ministere.jpg")' alt="logo du ministère"/>
            </div>
        </div>
    </body>
</html>