@import java.net.URI
@import utils.FrontRoute
@(connectionUrl: URI, role: String)

@views.html.mails.layout("Accédez à SignalConso") {
    <p>
        Bonjour,
    </p>

    <p>
        Vous avez été invité à accéder à l'interface @role sur SignalConso.
        <br/>Pour accéder à SignalConso, veuillez vous connecter depuis le lien ci-dessous en veillant à sélectionner ProConnect comme mode de connexion :
    </p>

    <p style="text-align: center;">
        <a href="@connectionUrl">Accéder à SignalConso via ProConnect</a>
    </p>

    <p>
        Si le lien ne fonctionne pas, merci de :
        <ul>
            <li>copier/coller le lien directement dans votre navigateur</li>
            <li>vérifier que vous n'êtes pas en navigation privée</li>
            <li>si possible, tester avec un autre navigateur</li>
        </ul>
    </p>

    <p>
        Une page d'aide est disponible pour plus d'informations sur la <a href="https://aide.signal.conso.gouv.fr/fr/article/connexion-via-proconnect-fs6qho/">connexion via ProConnect</a>
    </p>

    <p>Cordialement,</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>
}