@import java.time.LocalDate
@(reports: Seq[Report], department: String, startDate: LocalDate)

@views.html.mails.layout("Signalements de la semaine") {
    <p>
        Depuis le @startDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy")),
        @reports.length match {
            case 0 => { aucun nouveau signalement n'a été déposé }
            case 1 => { 1 nouveau signalement a été déposé }
            case n => {
                @n nouveaux signalements ont été déposés
            }
        }
        sur SignalConso pour le département @department.
    </p>

    @if(reports.length > 0) {
        <div style="padding-bottom: 0.5em">
            <div style="font-weight: bold;
                text-align: center;
                border-bottom: 2px solid #898989;
                padding-bottom: 20px;
                margin-bottom: 20px">
            @reports.length match {
                case 1 => { Aperçu du signalement }
                case n => { Aperçu des signalements }
            }
            </div>

            @reports.map { report =>
                <div style="border-bottom: 2px solid #898989;
                    padding-top: 20px;
                    padding-bottom: 20px">
                    <b>Problème</b>
                    <br/>
                    @report.category
                    <br />
                    @report.subcategories.map { subcategory =>
                        @subcategory
                        <br />
                    }
                    <br />
                    <b>Description</b>
                    <br/>
                    @report.details.map { detailInputValue =>
                        @Html(detailInputValue.label) @Html(detailInputValue.value)
                        <br/>
                    }

                    <br />
                    <b>Établissement</b>
                    <p style="text-align: center;">
                    @views.html.fragments.address(report.companyAddress)
                </p>

                </div>
            }
        </div>
    }

    <p>
        Pour consulter l'intégralité des signalements, notamment les pièces jointes :
    </p>
    <ul>
        <li>si vous possédez un compte sur SignalConso, connectez-vous sur <a href="https://signalconso.beta.gouv.fr/dgccrf">https://signalconso.beta.gouv.fr/dgccrf</a></li>
        <li>sinon, vous pouvez demander la création d'un compte en envoyant un mail avec vos nom, prénom et service à l'adresse <a href="mailto:contact@@signalconso.beta.gouv.fr">contact@@signalconso.beta.gouv.fr</a></li>
    </ul>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    <p style="font-size: 12px; font-color:#8393a7; padding-top: 2em">
        Ceci est un mail automatique. Si vous ne souhaitez plus le recevoir, merci de nous l'indiquer par mail à l'adresse <a href="mailto:contact@@signalconso.beta.gouv.fr">contact@@signalconso.beta.gouv.fr</a>
    </p>
}